body {
    font-family: 'Montserrat' , sans-serif;
    background-color: #2b2d42;
    color: #edf2f4;
}

h3 {
    text-align: center;
}

footer {
    text-align: center;
    padding: 10% 0 3%;
    font-size: 80%;
}

.navbar {
    background-color: #8d99ae;
    color: #edf2f4;
}

.nav-link:hover {
    cursor: pointer;
}

.navbar-brand:hover {
    cursor: pointer;
}

.game-name {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.status {
    background-color: #2b2d42;
    padding: 5% 15%;
    color: #edf2f4;
}

#status-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

.game {
    padding: 3vmin;
    /* text-align: center; */
}

.game-board {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 20vmin);
    grid-template-rows: repeat(3, 20vmin);
    margin: 2vmin 0;
    text-align: center;
}

.box {
    background-color: #2b2d42;
    border-style: solid;
    color: #edf2f4;
    font-size: 10vmin;
    border-color: #edf2f4;
}

.box:hover, .box:active {
    background-color: #8d99ae;
    color: #2b2d42;
}

.box:disabled {
    cursor: not-allowed;
}

.refresh {
    margin: auto;
    text-align: center;
    width: 10%;
    padding: 3% 0 0;
}

.refresh-btn {
    text-align: center;
    margin: 0 10%;
}

.score {
    text-align: center;
    padding: 5% 15% 2%;
}

.board {
    text-align: center;
}
